@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-dots::after {
  content: '...';
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0%, 20% { content: ''; }
  40% { content: '.'; }
  60% { content: '..'; }
  80% { content: '...'; }
}

.fortune-text {
  font-family: var(--zen-antique-font), serif;
  -webkit-text-stroke: 1px #00000015;
}